* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    
    background-color: #333333;
    
}

.header h1 {
    padding: 20px;
    display: inline-block;
    font-size: 48px;
    color:#333333;
    background-color: aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: -25px;

}

.header .nav-menu {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header .nav-menu ul {
    list-style-type: none;
}

.header .nav-menu ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: aqua;
    text-decoration: underline;
}

p {
    font-size: 16px;
}

.sub-title {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./assets/sub-title-image-2.jpg");
    background-size: cover;
    background-position: center;
}

.sub-title h2 {
    padding: 20px;
    color:#333333;
    background-color:aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 102px;
    width: 10%;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    margin-left: 25px;
    margin-top: 300px;
    text-align: center;
}


.work h2{
display: flex;
justify-content: flex-start;

}

.images {
display: flex;
flex-direction: row;
    display: flex;
    flex-wrap: wrap;

    width: 50%;

}
.images img {
    
    width: 50%;
}

.aboutme p {
    float: right;
}
.aboutme h2 {
    float: left;
    display: inline;
}
.section{
    
    padding: 50px;
    display: flex;
    
}
.section > h2{
    border-right: 1px solid black;
    
    width: 30%;
}
.section > div {
padding: 50px;
width: 100%;
}

.images img:first-child {
    
    width: 100%;
}

.links {
    display: flex;
    flex-direction: row;
 gap: 10px;   
}
.links >a {

padding: 50px;
font-size: 20px;
color: black;
cursor: pointer;
}
.links >a:hover{
background-color: rgba(0, 0, 0, 0.25) ;

}


/* For screens smaller than 768px (phones) */
@media (max-width: 767px) {
    /* CSS rules for smaller screens */
    body {
      font-size: 14px;
    }
    /* You can add more styles here to adjust layout, font sizes, etc. */
  }
  
  /* For screens between 768px and 991px (tablets) */
  @media (min-width: 768px) and (max-width: 991px) {
    /* CSS rules for tablets */
    body {
      font-size: 16px;
    }
    /* Adjust layout, font sizes, etc. */
  }
  
  /* For screens larger than 992px (desktops) */
  @media (min-width: 992px) {
    /* CSS rules for desktops */
    body {
      font-size: 18px;
    }
    /* Adjust layout, font sizes, etc. */
  }
  